<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPTables.Net" version="0.3.2-cibuild0010" targetFramework="net45" />
  <package id="SystemInteract" version="1.0.0-cibuild0002" targetFramework="net45" />
  <package id="SystemInteract.Local" version="1.0.0-cibuild0002" targetFramework="net45" />
</packages>